@font-face {
  font-family: 'fasolid';
  src: url('../font/fasolid.eot?22809185');
  src: url('../font/fasolid.eot?22809185#iefix') format('embedded-opentype'),
       url('../font/fasolid.woff2?22809185') format('woff2'),
       url('../font/fasolid.woff?22809185') format('woff'),
       url('../font/fasolid.ttf?22809185') format('truetype'),
       url('../font/fasolid.svg?22809185#fasolid') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fasolid';
    src: url('../font/fasolid.svg?22809185#fasolid') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fasolid";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-glass-martini:before { content: '\f000'; } /* '' */
.icon-music:before { content: '\f001'; } /* '' */
.icon-search:before { content: '\f002'; } /* '' */
.icon-heart:before { content: '\f004'; } /* '' */
.icon-star:before { content: '\f005'; } /* '' */
.icon-user:before { content: '\f007'; } /* '' */
.icon-film:before { content: '\f008'; } /* '' */
.icon-th-large:before { content: '\f009'; } /* '' */
.icon-th:before { content: '\f00a'; } /* '' */
.icon-th-list:before { content: '\f00b'; } /* '' */
.icon-check:before { content: '\f00c'; } /* '' */
.icon-times:before { content: '\f00d'; } /* '' */
.icon-search-plus:before { content: '\f00e'; } /* '' */
.icon-search-minus:before { content: '\f010'; } /* '' */
.icon-power-off:before { content: '\f011'; } /* '' */
.icon-signal:before { content: '\f012'; } /* '' */
.icon-cog:before { content: '\f013'; } /* '' */
.icon-home:before { content: '\f015'; } /* '' */
.icon-clock:before { content: '\f017'; } /* '' */
.icon-road:before { content: '\f018'; } /* '' */
.icon-download:before { content: '\f019'; } /* '' */
.icon-inbox:before { content: '\f01c'; } /* '' */
.icon-redo:before { content: '\f01e'; } /* '' */
.icon-sync:before { content: '\f021'; } /* '' */
.icon-list-alt:before { content: '\f022'; } /* '' */
.icon-lock:before { content: '\f023'; } /* '' */
.icon-flag:before { content: '\f024'; } /* '' */
.icon-headphones:before { content: '\f025'; } /* '' */
.icon-volume-off:before { content: '\f026'; } /* '' */
.icon-volume-down:before { content: '\f027'; } /* '' */
.icon-volume-up:before { content: '\f028'; } /* '' */
.icon-qrcode:before { content: '\f029'; } /* '' */
.icon-barcode:before { content: '\f02a'; } /* '' */
.icon-tag:before { content: '\f02b'; } /* '' */
.icon-tags:before { content: '\f02c'; } /* '' */
.icon-book:before { content: '\f02d'; } /* '' */
.icon-bookmark:before { content: '\f02e'; } /* '' */
.icon-print:before { content: '\f02f'; } /* '' */
.icon-camera:before { content: '\f030'; } /* '' */
.icon-font:before { content: '\f031'; } /* '' */
.icon-bold:before { content: '\f032'; } /* '' */
.icon-italic:before { content: '\f033'; } /* '' */
.icon-text-height:before { content: '\f034'; } /* '' */
.icon-text-width:before { content: '\f035'; } /* '' */
.icon-align-left:before { content: '\f036'; } /* '' */
.icon-align-center:before { content: '\f037'; } /* '' */
.icon-align-right:before { content: '\f038'; } /* '' */
.icon-align-justify:before { content: '\f039'; } /* '' */
.icon-list:before { content: '\f03a'; } /* '' */
.icon-outdent:before { content: '\f03b'; } /* '' */
.icon-indent:before { content: '\f03c'; } /* '' */
.icon-video:before { content: '\f03d'; } /* '' */
.icon-image:before { content: '\f03e'; } /* '' */
.icon-map-marker:before { content: '\f041'; } /* '' */
.icon-adjust:before { content: '\f042'; } /* '' */
.icon-tint:before { content: '\f043'; } /* '' */
.icon-edit:before { content: '\f044'; } /* '' */
.icon-step-backward:before { content: '\f048'; } /* '' */
.icon-fast-backward:before { content: '\f049'; } /* '' */
.icon-backward:before { content: '\f04a'; } /* '' */
.icon-play:before { content: '\f04b'; } /* '' */
.icon-pause:before { content: '\f04c'; } /* '' */
.icon-stop:before { content: '\f04d'; } /* '' */
.icon-forward:before { content: '\f04e'; } /* '' */
.icon-fast-forward:before { content: '\f050'; } /* '' */
.icon-step-forward:before { content: '\f051'; } /* '' */
.icon-eject:before { content: '\f052'; } /* '' */
.icon-chevron-left:before { content: '\f053'; } /* '' */
.icon-chevron-right:before { content: '\f054'; } /* '' */
.icon-plus-circle:before { content: '\f055'; } /* '' */
.icon-minus-circle:before { content: '\f056'; } /* '' */
.icon-times-circle:before { content: '\f057'; } /* '' */
.icon-check-circle:before { content: '\f058'; } /* '' */
.icon-question-circle:before { content: '\f059'; } /* '' */
.icon-info-circle:before { content: '\f05a'; } /* '' */
.icon-crosshairs:before { content: '\f05b'; } /* '' */
.icon-ban:before { content: '\f05e'; } /* '' */
.icon-arrow-left:before { content: '\f060'; } /* '' */
.icon-arrow-right:before { content: '\f061'; } /* '' */
.icon-arrow-up:before { content: '\f062'; } /* '' */
.icon-arrow-down:before { content: '\f063'; } /* '' */
.icon-share:before { content: '\f064'; } /* '' */
.icon-expand:before { content: '\f065'; } /* '' */
.icon-compress:before { content: '\f066'; } /* '' */
.icon-plus:before { content: '\f067'; } /* '' */
.icon-minus:before { content: '\f068'; } /* '' */
.icon-asterisk:before { content: '\f069'; } /* '' */
.icon-exclamation-circle:before { content: '\f06a'; } /* '' */
.icon-gift:before { content: '\f06b'; } /* '' */
.icon-leaf:before { content: '\f06c'; } /* '' */
.icon-fire:before { content: '\f06d'; } /* '' */
.icon-eye:before { content: '\f06e'; } /* '' */
.icon-eye-slash:before { content: '\f070'; } /* '' */
.icon-exclamation-triangle:before { content: '\f071'; } /* '' */
.icon-plane:before { content: '\f072'; } /* '' */
.icon-calendar-alt:before { content: '\f073'; } /* '' */
.icon-random:before { content: '\f074'; } /* '' */
.icon-comment:before { content: '\f075'; } /* '' */
.icon-magnet:before { content: '\f076'; } /* '' */
.icon-chevron-up:before { content: '\f077'; } /* '' */
.icon-chevron-down:before { content: '\f078'; } /* '' */
.icon-retweet:before { content: '\f079'; } /* '' */
.icon-shopping-cart:before { content: '\f07a'; } /* '' */
.icon-folder:before { content: '\f07b'; } /* '' */
.icon-folder-open:before { content: '\f07c'; } /* '' */
.icon-chart-bar:before { content: '\f080'; } /* '' */
.icon-camera-retro:before { content: '\f083'; } /* '' */
.icon-key:before { content: '\f084'; } /* '' */
.icon-cogs:before { content: '\f085'; } /* '' */
.icon-comments:before { content: '\f086'; } /* '' */
.icon-star-half:before { content: '\f089'; } /* '' */
.icon-thumbtack:before { content: '\f08d'; } /* '' */
.icon-trophy:before { content: '\f091'; } /* '' */
.icon-upload:before { content: '\f093'; } /* '' */
.icon-lemon:before { content: '\f094'; } /* '' */
.icon-phone:before { content: '\f095'; } /* '' */
.icon-phone-square:before { content: '\f098'; } /* '' */
.icon-unlock:before { content: '\f09c'; } /* '' */
.icon-credit-card:before { content: '\f09d'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-hdd:before { content: '\f0a0'; } /* '' */
.icon-bullhorn:before { content: '\f0a1'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-hand-point-right:before { content: '\f0a4'; } /* '' */
.icon-hand-point-left:before { content: '\f0a5'; } /* '' */
.icon-hand-point-up:before { content: '\f0a6'; } /* '' */
.icon-hand-point-down:before { content: '\f0a7'; } /* '' */
.icon-arrow-circle-left:before { content: '\f0a8'; } /* '' */
.icon-arrow-circle-right:before { content: '\f0a9'; } /* '' */
.icon-arrow-circle-up:before { content: '\f0aa'; } /* '' */
.icon-arrow-circle-down:before { content: '\f0ab'; } /* '' */
.icon-globe:before { content: '\f0ac'; } /* '' */
.icon-wrench:before { content: '\f0ad'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-briefcase:before { content: '\f0b1'; } /* '' */
.icon-arrows-alt:before { content: '\f0b2'; } /* '' */
.icon-users:before { content: '\f0c0'; } /* '' */
.icon-link:before { content: '\f0c1'; } /* '' */
.icon-cloud:before { content: '\f0c2'; } /* '' */
.icon-flask:before { content: '\f0c3'; } /* '' */
.icon-cut:before { content: '\f0c4'; } /* '' */
.icon-copy:before { content: '\f0c5'; } /* '' */
.icon-paperclip:before { content: '\f0c6'; } /* '' */
.icon-save:before { content: '\f0c7'; } /* '' */
.icon-square:before { content: '\f0c8'; } /* '' */
.icon-bars:before { content: '\f0c9'; } /* '' */
.icon-list-ul:before { content: '\f0ca'; } /* '' */
.icon-list-ol:before { content: '\f0cb'; } /* '' */
.icon-strikethrough:before { content: '\f0cc'; } /* '' */
.icon-underline:before { content: '\f0cd'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-truck:before { content: '\f0d1'; } /* '' */
.icon-money-bill:before { content: '\f0d6'; } /* '' */
.icon-caret-down:before { content: '\f0d7'; } /* '' */
.icon-caret-up:before { content: '\f0d8'; } /* '' */
.icon-caret-left:before { content: '\f0d9'; } /* '' */
.icon-caret-right:before { content: '\f0da'; } /* '' */
.icon-columns:before { content: '\f0db'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-envelope:before { content: '\f0e0'; } /* '' */
.icon-undo:before { content: '\f0e2'; } /* '' */
.icon-gavel:before { content: '\f0e3'; } /* '' */
.icon-bolt:before { content: '\f0e7'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-umbrella:before { content: '\f0e9'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-user-md:before { content: '\f0f0'; } /* '' */
.icon-stethoscope:before { content: '\f0f1'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-bell:before { content: '\f0f3'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-hospital:before { content: '\f0f8'; } /* '' */
.icon-ambulance:before { content: '\f0f9'; } /* '' */
.icon-medkit:before { content: '\f0fa'; } /* '' */
.icon-fighter-jet:before { content: '\f0fb'; } /* '' */
.icon-beer:before { content: '\f0fc'; } /* '' */
.icon-h-square:before { content: '\f0fd'; } /* '' */
.icon-plus-square:before { content: '\f0fe'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-frown:before { content: '\f119'; } /* '' */
.icon-meh:before { content: '\f11a'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */
.icon-flag-checkered:before { content: '\f11e'; } /* '' */
.icon-terminal:before { content: '\f120'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-reply-all:before { content: '\f122'; } /* '' */
.icon-location-arrow:before { content: '\f124'; } /* '' */
.icon-crop:before { content: '\f125'; } /* '' */
.icon-code-branch:before { content: '\f126'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-question:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-exclamation:before { content: '\f12a'; } /* '' */
.icon-superscript:before { content: '\f12b'; } /* '' */
.icon-subscript:before { content: '\f12c'; } /* '' */
.icon-eraser:before { content: '\f12d'; } /* '' */
.icon-puzzle-piece:before { content: '\f12e'; } /* '' */
.icon-microphone:before { content: '\f130'; } /* '' */
.icon-microphone-slash:before { content: '\f131'; } /* '' */
.icon-calendar:before { content: '\f133'; } /* '' */
.icon-fire-extinguisher:before { content: '\f134'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-chevron-circle-left:before { content: '\f137'; } /* '' */
.icon-chevron-circle-right:before { content: '\f138'; } /* '' */
.icon-chevron-circle-up:before { content: '\f139'; } /* '' */
.icon-chevron-circle-down:before { content: '\f13a'; } /* '' */
.icon-anchor:before { content: '\f13d'; } /* '' */
.icon-unlock-alt:before { content: '\f13e'; } /* '' */
.icon-bullseye:before { content: '\f140'; } /* '' */
.icon-ellipsis-h:before { content: '\f141'; } /* '' */
.icon-ellipsis-v:before { content: '\f142'; } /* '' */
.icon-rss-square:before { content: '\f143'; } /* '' */
.icon-play-circle:before { content: '\f144'; } /* '' */
.icon-minus-square:before { content: '\f146'; } /* '' */
.icon-check-square:before { content: '\f14a'; } /* '' */
.icon-pen-square:before { content: '\f14b'; } /* '' */
.icon-share-square:before { content: '\f14d'; } /* '' */
.icon-compass:before { content: '\f14e'; } /* '' */
.icon-caret-square-down:before { content: '\f150'; } /* '' */
.icon-caret-square-up:before { content: '\f151'; } /* '' */
.icon-caret-square-right:before { content: '\f152'; } /* '' */
.icon-euro-sign:before { content: '\f153'; } /* '' */
.icon-pound-sign:before { content: '\f154'; } /* '' */
.icon-dollar-sign:before { content: '\f155'; } /* '' */
.icon-rupee-sign:before { content: '\f156'; } /* '' */
.icon-yen-sign:before { content: '\f157'; } /* '' */
.icon-ruble-sign:before { content: '\f158'; } /* '' */
.icon-won-sign:before { content: '\f159'; } /* '' */
.icon-file:before { content: '\f15b'; } /* '' */
.icon-file-alt:before { content: '\f15c'; } /* '' */
.icon-sort-alpha-down:before { content: '\f15d'; } /* '' */
.icon-sort-alpha-up:before { content: '\f15e'; } /* '' */
.icon-sort-amount-down:before { content: '\f160'; } /* '' */
.icon-sort-amount-up:before { content: '\f161'; } /* '' */
.icon-sort-numeric-down:before { content: '\f162'; } /* '' */
.icon-sort-numeric-up:before { content: '\f163'; } /* '' */
.icon-thumbs-up:before { content: '\f164'; } /* '' */
.icon-thumbs-down:before { content: '\f165'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-archive:before { content: '\f187'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-caret-square-left:before { content: '\f191'; } /* '' */
.icon-dot-circle:before { content: '\f192'; } /* '' */
.icon-wheelchair:before { content: '\f193'; } /* '' */
.icon-lira-sign:before { content: '\f195'; } /* '' */
.icon-space-shuttle:before { content: '\f197'; } /* '' */
.icon-envelope-square:before { content: '\f199'; } /* '' */
.icon-university:before { content: '\f19c'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-language:before { content: '\f1ab'; } /* '' */
.icon-fax:before { content: '\f1ac'; } /* '' */
.icon-building:before { content: '\f1ad'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-paw:before { content: '\f1b0'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-recycle:before { content: '\f1b8'; } /* '' */
.icon-car:before { content: '\f1b9'; } /* '' */
.icon-taxi:before { content: '\f1ba'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-archive:before { content: '\f1c6'; } /* '' */
.icon-file-audio:before { content: '\f1c7'; } /* '' */
.icon-file-video:before { content: '\f1c8'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-life-ring:before { content: '\f1cd'; } /* '' */
.icon-circle-notch:before { content: '\f1ce'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */
.icon-heading:before { content: '\f1dc'; } /* '' */
.icon-paragraph:before { content: '\f1dd'; } /* '' */
.icon-sliders-h:before { content: '\f1de'; } /* '' */
.icon-share-alt:before { content: '\f1e0'; } /* '' */
.icon-share-alt-square:before { content: '\f1e1'; } /* '' */
.icon-bomb:before { content: '\f1e2'; } /* '' */
.icon-futbol:before { content: '\f1e3'; } /* '' */
.icon-tty:before { content: '\f1e4'; } /* '' */
.icon-binoculars:before { content: '\f1e5'; } /* '' */
.icon-plug:before { content: '\f1e6'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-calculator:before { content: '\f1ec'; } /* '' */
.icon-bell-slash:before { content: '\f1f6'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-at:before { content: '\f1fa'; } /* '' */
.icon-eye-dropper:before { content: '\f1fb'; } /* '' */
.icon-paint-brush:before { content: '\f1fc'; } /* '' */
.icon-birthday-cake:before { content: '\f1fd'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-closed-captioning:before { content: '\f20a'; } /* '' */
.icon-shekel-sign:before { content: '\f20b'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
.icon-cart-arrow-down:before { content: '\f218'; } /* '' */
.icon-ship:before { content: '\f21a'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-motorcycle:before { content: '\f21c'; } /* '' */
.icon-street-view:before { content: '\f21d'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-venus:before { content: '\f221'; } /* '' */
.icon-mars:before { content: '\f222'; } /* '' */
.icon-mercury:before { content: '\f223'; } /* '' */
.icon-transgender:before { content: '\f224'; } /* '' */
.icon-transgender-alt:before { content: '\f225'; } /* '' */
.icon-venus-double:before { content: '\f226'; } /* '' */
.icon-mars-double:before { content: '\f227'; } /* '' */
.icon-venus-mars:before { content: '\f228'; } /* '' */
.icon-mars-stroke:before { content: '\f229'; } /* '' */
.icon-mars-stroke-v:before { content: '\f22a'; } /* '' */
.icon-mars-stroke-h:before { content: '\f22b'; } /* '' */
.icon-neuter:before { content: '\f22c'; } /* '' */
.icon-genderless:before { content: '\f22d'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */
.icon-train:before { content: '\f238'; } /* '' */
.icon-subway:before { content: '\f239'; } /* '' */
.icon-battery-full:before { content: '\f240'; } /* '' */
.icon-battery-three-quarters:before { content: '\f241'; } /* '' */
.icon-battery-half:before { content: '\f242'; } /* '' */
.icon-battery-quarter:before { content: '\f243'; } /* '' */
.icon-battery-empty:before { content: '\f244'; } /* '' */
.icon-mouse-pointer:before { content: '\f245'; } /* '' */
.icon-i-cursor:before { content: '\f246'; } /* '' */
.icon-object-group:before { content: '\f247'; } /* '' */
.icon-object-ungroup:before { content: '\f248'; } /* '' */
.icon-sticky-note:before { content: '\f249'; } /* '' */
.icon-clone:before { content: '\f24d'; } /* '' */
.icon-balance-scale:before { content: '\f24e'; } /* '' */
.icon-hourglass-start:before { content: '\f251'; } /* '' */
.icon-hourglass-half:before { content: '\f252'; } /* '' */
.icon-hourglass-end:before { content: '\f253'; } /* '' */
.icon-hourglass:before { content: '\f254'; } /* '' */
.icon-hand-rock:before { content: '\f255'; } /* '' */
.icon-hand-paper:before { content: '\f256'; } /* '' */
.icon-hand-scissors:before { content: '\f257'; } /* '' */
.icon-hand-lizard:before { content: '\f258'; } /* '' */
.icon-hand-spock:before { content: '\f259'; } /* '' */
.icon-hand-pointer:before { content: '\f25a'; } /* '' */
.icon-hand-peace:before { content: '\f25b'; } /* '' */
.icon-trademark:before { content: '\f25c'; } /* '' */
.icon-registered:before { content: '\f25d'; } /* '' */
.icon-tv:before { content: '\f26c'; } /* '' */
.icon-calendar-plus:before { content: '\f271'; } /* '' */
.icon-calendar-minus:before { content: '\f272'; } /* '' */
.icon-calendar-times:before { content: '\f273'; } /* '' */
.icon-calendar-check:before { content: '\f274'; } /* '' */
.icon-industry:before { content: '\f275'; } /* '' */
.icon-map-pin:before { content: '\f276'; } /* '' */
.icon-map-signs:before { content: '\f277'; } /* '' */
.icon-map:before { content: '\f279'; } /* '' */
.icon-comment-alt:before { content: '\f27a'; } /* '' */
.icon-pause-circle:before { content: '\f28b'; } /* '' */
.icon-stop-circle:before { content: '\f28d'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-hashtag:before { content: '\f292'; } /* '' */
.icon-percent:before { content: '\f295'; } /* '' */
.icon-universal-access:before { content: '\f29a'; } /* '' */
.icon-blind:before { content: '\f29d'; } /* '' */
.icon-audio-description:before { content: '\f29e'; } /* '' */
.icon-phone-volume:before { content: '\f2a0'; } /* '' */
.icon-braille:before { content: '\f2a1'; } /* '' */
.icon-assistive-listening-systems:before { content: '\f2a2'; } /* '' */
.icon-american-sign-language-interpreting:before { content: '\f2a3'; } /* '' */
.icon-deaf:before { content: '\f2a4'; } /* '' */
.icon-sign-language:before { content: '\f2a7'; } /* '' */
.icon-low-vision:before { content: '\f2a8'; } /* '' */
.icon-handshake:before { content: '\f2b5'; } /* '' */
.icon-envelope-open:before { content: '\f2b6'; } /* '' */
.icon-address-book:before { content: '\f2b9'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-id-badge:before { content: '\f2c1'; } /* '' */
.icon-id-card:before { content: '\f2c2'; } /* '' */
.icon-thermometer-full:before { content: '\f2c7'; } /* '' */
.icon-thermometer-three-quarters:before { content: '\f2c8'; } /* '' */
.icon-thermometer-half:before { content: '\f2c9'; } /* '' */
.icon-thermometer-quarter:before { content: '\f2ca'; } /* '' */
.icon-thermometer-empty:before { content: '\f2cb'; } /* '' */
.icon-shower:before { content: '\f2cc'; } /* '' */
.icon-bath:before { content: '\f2cd'; } /* '' */
.icon-podcast:before { content: '\f2ce'; } /* '' */
.icon-window-maximize:before { content: '\f2d0'; } /* '' */
.icon-window-minimize:before { content: '\f2d1'; } /* '' */
.icon-window-restore:before { content: '\f2d2'; } /* '' */
.icon-microchip:before { content: '\f2db'; } /* '' */
.icon-snowflake:before { content: '\f2dc'; } /* '' */
.icon-utensil-spoon:before { content: '\f2e5'; } /* '' */
.icon-utensils:before { content: '\f2e7'; } /* '' */
.icon-undo-alt:before { content: '\f2ea'; } /* '' */
.icon-trash-alt:before { content: '\f2ed'; } /* '' */
.icon-sync-alt:before { content: '\f2f1'; } /* '' */
.icon-stopwatch:before { content: '\f2f2'; } /* '' */
.icon-sign-out-alt:before { content: '\f2f5'; } /* '' */
.icon-sign-in-alt:before { content: '\f2f6'; } /* '' */
.icon-redo-alt:before { content: '\f2f9'; } /* '' */
.icon-poo:before { content: '\f2fe'; } /* '' */
.icon-images:before { content: '\f302'; } /* '' */
.icon-pencil-alt:before { content: '\f303'; } /* '' */
.icon-pen:before { content: '\f304'; } /* '' */
.icon-pen-alt:before { content: '\f305'; } /* '' */
.icon-long-arrow-alt-down:before { content: '\f309'; } /* '' */
.icon-long-arrow-alt-left:before { content: '\f30a'; } /* '' */
.icon-long-arrow-alt-right:before { content: '\f30b'; } /* '' */
.icon-long-arrow-alt-up:before { content: '\f30c'; } /* '' */
.icon-expand-arrows-alt:before { content: '\f31e'; } /* '' */
.icon-clipboard:before { content: '\f328'; } /* '' */
.icon-arrows-alt-h:before { content: '\f337'; } /* '' */
.icon-arrows-alt-v:before { content: '\f338'; } /* '' */
.icon-arrow-alt-circle-down:before { content: '\f358'; } /* '' */
.icon-arrow-alt-circle-left:before { content: '\f359'; } /* '' */
.icon-arrow-alt-circle-right:before { content: '\f35a'; } /* '' */
.icon-arrow-alt-circle-up:before { content: '\f35b'; } /* '' */
.icon-external-link-alt:before { content: '\f35d'; } /* '' */
.icon-external-link-square-alt:before { content: '\f360'; } /* '' */
.icon-exchange-alt:before { content: '\f362'; } /* '' */
.icon-cloud-download-alt:before { content: '\f381'; } /* '' */
.icon-cloud-upload-alt:before { content: '\f382'; } /* '' */
.icon-gem:before { content: '\f3a5'; } /* '' */
.icon-level-down-alt:before { content: '\f3be'; } /* '' */
.icon-level-up-alt:before { content: '\f3bf'; } /* '' */
.icon-lock-open:before { content: '\f3c1'; } /* '' */
.icon-map-marker-alt:before { content: '\f3c5'; } /* '' */
.icon-microphone-alt:before { content: '\f3c9'; } /* '' */
.icon-mobile-alt:before { content: '\f3cd'; } /* '' */
.icon-money-bill-alt:before { content: '\f3d1'; } /* '' */
.icon-phone-slash:before { content: '\f3dd'; } /* '' */
.icon-portrait:before { content: '\f3e0'; } /* '' */
.icon-reply:before { content: '\f3e5'; } /* '' */
.icon-shield-alt:before { content: '\f3ed'; } /* '' */
.icon-tablet-alt:before { content: '\f3fa'; } /* '' */
.icon-tachometer-alt:before { content: '\f3fd'; } /* '' */
.icon-ticket-alt:before { content: '\f3ff'; } /* '' */
.icon-user-alt:before { content: '\f406'; } /* '' */
.icon-window-close:before { content: '\f410'; } /* '' */
.icon-baseball-ball:before { content: '\f433'; } /* '' */
.icon-basketball-ball:before { content: '\f434'; } /* '' */
.icon-bowling-ball:before { content: '\f436'; } /* '' */
.icon-chess:before { content: '\f439'; } /* '' */
.icon-chess-bishop:before { content: '\f43a'; } /* '' */
.icon-chess-board:before { content: '\f43c'; } /* '' */
.icon-chess-king:before { content: '\f43f'; } /* '' */
.icon-chess-knight:before { content: '\f441'; } /* '' */
.icon-chess-pawn:before { content: '\f443'; } /* '' */
.icon-chess-queen:before { content: '\f445'; } /* '' */
.icon-chess-rook:before { content: '\f447'; } /* '' */
.icon-dumbbell:before { content: '\f44b'; } /* '' */
.icon-football-ball:before { content: '\f44e'; } /* '' */
.icon-golf-ball:before { content: '\f450'; } /* '' */
.icon-hockey-puck:before { content: '\f453'; } /* '' */
.icon-quidditch:before { content: '\f458'; } /* '' */
.icon-square-full:before { content: '\f45c'; } /* '' */
.icon-table-tennis:before { content: '\f45d'; } /* '' */
.icon-volleyball-ball:before { content: '\f45f'; } /* '' */
.icon-allergies:before { content: '\f461'; } /* '' */
.icon-band-aid:before { content: '\f462'; } /* '' */
.icon-box:before { content: '\f466'; } /* '' */
.icon-boxes:before { content: '\f468'; } /* '' */
.icon-briefcase-medical:before { content: '\f469'; } /* '' */
.icon-burn:before { content: '\f46a'; } /* '' */
.icon-capsules:before { content: '\f46b'; } /* '' */
.icon-clipboard-check:before { content: '\f46c'; } /* '' */
.icon-clipboard-list:before { content: '\f46d'; } /* '' */
.icon-diagnoses:before { content: '\f470'; } /* '' */
.icon-dna:before { content: '\f471'; } /* '' */
.icon-dolly:before { content: '\f472'; } /* '' */
.icon-dolly-flatbed:before { content: '\f474'; } /* '' */
.icon-file-medical:before { content: '\f477'; } /* '' */
.icon-file-medical-alt:before { content: '\f478'; } /* '' */
.icon-first-aid:before { content: '\f479'; } /* '' */
.icon-hospital-alt:before { content: '\f47d'; } /* '' */
.icon-hospital-symbol:before { content: '\f47e'; } /* '' */
.icon-id-card-alt:before { content: '\f47f'; } /* '' */
.icon-notes-medical:before { content: '\f481'; } /* '' */
.icon-pallet:before { content: '\f482'; } /* '' */
.icon-pills:before { content: '\f484'; } /* '' */
.icon-prescription-bottle:before { content: '\f485'; } /* '' */
.icon-prescription-bottle-alt:before { content: '\f486'; } /* '' */
.icon-procedures:before { content: '\f487'; } /* '' */
.icon-shipping-fast:before { content: '\f48b'; } /* '' */
.icon-smoking:before { content: '\f48d'; } /* '' */
.icon-syringe:before { content: '\f48e'; } /* '' */
.icon-tablets:before { content: '\f490'; } /* '' */
.icon-thermometer:before { content: '\f491'; } /* '' */
.icon-vial:before { content: '\f492'; } /* '' */
.icon-vials:before { content: '\f493'; } /* '' */
.icon-warehouse:before { content: '\f494'; } /* '' */
.icon-weight:before { content: '\f496'; } /* '' */
.icon-x-ray:before { content: '\f497'; } /* '' */
.icon-box-open:before { content: '\f49e'; } /* '' */
.icon-comment-dots:before { content: '\f4ad'; } /* '' */
.icon-comment-slash:before { content: '\f4b3'; } /* '' */
.icon-couch:before { content: '\f4b8'; } /* '' */
.icon-donate:before { content: '\f4b9'; } /* '' */
.icon-dove:before { content: '\f4ba'; } /* '' */
.icon-hand-holding:before { content: '\f4bd'; } /* '' */
.icon-hand-holding-heart:before { content: '\f4be'; } /* '' */
.icon-hand-holding-usd:before { content: '\f4c0'; } /* '' */
.icon-hands:before { content: '\f4c2'; } /* '' */
.icon-hands-helping:before { content: '\f4c4'; } /* '' */
.icon-parachute-box:before { content: '\f4cd'; } /* '' */
.icon-people-carry:before { content: '\f4ce'; } /* '' */
.icon-piggy-bank:before { content: '\f4d3'; } /* '' */
.icon-ribbon:before { content: '\f4d6'; } /* '' */
.icon-route:before { content: '\f4d7'; } /* '' */
.icon-seedling:before { content: '\f4d8'; } /* '' */
.icon-sign:before { content: '\f4d9'; } /* '' */
.icon-smile-wink:before { content: '\f4da'; } /* '' */
.icon-tape:before { content: '\f4db'; } /* '' */
.icon-truck-loading:before { content: '\f4de'; } /* '' */
.icon-truck-moving:before { content: '\f4df'; } /* '' */
.icon-video-slash:before { content: '\f4e2'; } /* '' */
.icon-wine-glass:before { content: '\f4e3'; } /* '' */
.icon-user-alt-slash:before { content: '\f4fa'; } /* '' */
.icon-user-astronaut:before { content: '\f4fb'; } /* '' */
.icon-user-check:before { content: '\f4fc'; } /* '' */
.icon-user-clock:before { content: '\f4fd'; } /* '' */
.icon-user-cog:before { content: '\f4fe'; } /* '' */
.icon-user-edit:before { content: '\f4ff'; } /* '' */
.icon-user-friends:before { content: '\f500'; } /* '' */
.icon-user-graduate:before { content: '\f501'; } /* '' */
.icon-user-lock:before { content: '\f502'; } /* '' */
.icon-user-minus:before { content: '\f503'; } /* '' */
.icon-user-ninja:before { content: '\f504'; } /* '' */
.icon-user-shield:before { content: '\f505'; } /* '' */
.icon-user-slash:before { content: '\f506'; } /* '' */
.icon-user-tag:before { content: '\f507'; } /* '' */
.icon-user-tie:before { content: '\f508'; } /* '' */
.icon-users-cog:before { content: '\f509'; } /* '' */
.icon-blender:before { content: '\f517'; } /* '' */
.icon-book-open:before { content: '\f518'; } /* '' */
.icon-broadcast-tower:before { content: '\f519'; } /* '' */
.icon-broom:before { content: '\f51a'; } /* '' */
.icon-chalkboard:before { content: '\f51b'; } /* '' */
.icon-chalkboard-teacher:before { content: '\f51c'; } /* '' */
.icon-church:before { content: '\f51d'; } /* '' */
.icon-coins:before { content: '\f51e'; } /* '' */
.icon-compact-disc:before { content: '\f51f'; } /* '' */
.icon-crow:before { content: '\f520'; } /* '' */
.icon-crown:before { content: '\f521'; } /* '' */
.icon-dice:before { content: '\f522'; } /* '' */
.icon-dice-five:before { content: '\f523'; } /* '' */
.icon-dice-four:before { content: '\f524'; } /* '' */
.icon-dice-one:before { content: '\f525'; } /* '' */
.icon-dice-six:before { content: '\f526'; } /* '' */
.icon-dice-three:before { content: '\f527'; } /* '' */
.icon-dice-two:before { content: '\f528'; } /* '' */
.icon-divide:before { content: '\f529'; } /* '' */
.icon-door-closed:before { content: '\f52a'; } /* '' */
.icon-door-open:before { content: '\f52b'; } /* '' */
.icon-equals:before { content: '\f52c'; } /* '' */
.icon-feather:before { content: '\f52d'; } /* '' */
.icon-frog:before { content: '\f52e'; } /* '' */
.icon-gas-pump:before { content: '\f52f'; } /* '' */
.icon-glasses:before { content: '\f530'; } /* '' */
.icon-greater-than:before { content: '\f531'; } /* '' */
.icon-greater-than-equal:before { content: '\f532'; } /* '' */
.icon-helicopter:before { content: '\f533'; } /* '' */
.icon-infinity:before { content: '\f534'; } /* '' */
.icon-kiwi-bird:before { content: '\f535'; } /* '' */
.icon-less-than:before { content: '\f536'; } /* '' */
.icon-less-than-equal:before { content: '\f537'; } /* '' */
.icon-memory:before { content: '\f538'; } /* '' */
.icon-microphone-alt-slash:before { content: '\f539'; } /* '' */
.icon-money-bill-wave:before { content: '\f53a'; } /* '' */
.icon-money-bill-wave-alt:before { content: '\f53b'; } /* '' */
.icon-money-check:before { content: '\f53c'; } /* '' */
.icon-money-check-alt:before { content: '\f53d'; } /* '' */
.icon-not-equal:before { content: '\f53e'; } /* '' */
.icon-palette:before { content: '\f53f'; } /* '' */
.icon-parking:before { content: '\f540'; } /* '' */
.icon-percentage:before { content: '\f541'; } /* '' */
.icon-project-diagram:before { content: '\f542'; } /* '' */
.icon-receipt:before { content: '\f543'; } /* '' */
.icon-robot:before { content: '\f544'; } /* '' */
.icon-ruler:before { content: '\f545'; } /* '' */
.icon-ruler-combined:before { content: '\f546'; } /* '' */
.icon-ruler-horizontal:before { content: '\f547'; } /* '' */
.icon-ruler-vertical:before { content: '\f548'; } /* '' */
.icon-school:before { content: '\f549'; } /* '' */
.icon-screwdriver:before { content: '\f54a'; } /* '' */
.icon-shoe-prints:before { content: '\f54b'; } /* '' */
.icon-skull:before { content: '\f54c'; } /* '' */
.icon-smoking-ban:before { content: '\f54d'; } /* '' */
.icon-store:before { content: '\f54e'; } /* '' */
.icon-store-alt:before { content: '\f54f'; } /* '' */
.icon-stream:before { content: '\f550'; } /* '' */
.icon-stroopwafel:before { content: '\f551'; } /* '' */
.icon-toolbox:before { content: '\f552'; } /* '' */
.icon-tshirt:before { content: '\f553'; } /* '' */
.icon-walking:before { content: '\f554'; } /* '' */
.icon-wallet:before { content: '\f555'; } /* '' */
.icon-angry:before { content: '\f556'; } /* '' */
.icon-archway:before { content: '\f557'; } /* '' */
.icon-atlas:before { content: '\f558'; } /* '' */
.icon-award:before { content: '\f559'; } /* '' */
.icon-backspace:before { content: '\f55a'; } /* '' */
.icon-bezier-curve:before { content: '\f55b'; } /* '' */
.icon-bong:before { content: '\f55c'; } /* '' */
.icon-brush:before { content: '\f55d'; } /* '' */
.icon-bus-alt:before { content: '\f55e'; } /* '' */
.icon-cannabis:before { content: '\f55f'; } /* '' */
.icon-check-double:before { content: '\f560'; } /* '' */
.icon-cocktail:before { content: '\f561'; } /* '' */
.icon-concierge-bell:before { content: '\f562'; } /* '' */
.icon-cookie:before { content: '\f563'; } /* '' */
.icon-cookie-bite:before { content: '\f564'; } /* '' */
.icon-crop-alt:before { content: '\f565'; } /* '' */
.icon-digital-tachograph:before { content: '\f566'; } /* '' */
.icon-dizzy:before { content: '\f567'; } /* '' */
.icon-drafting-compass:before { content: '\f568'; } /* '' */
.icon-drum:before { content: '\f569'; } /* '' */
.icon-drum-steelpan:before { content: '\f56a'; } /* '' */
.icon-feather-alt:before { content: '\f56b'; } /* '' */
.icon-file-contract:before { content: '\f56c'; } /* '' */
.icon-file-download:before { content: '\f56d'; } /* '' */
.icon-file-export:before { content: '\f56e'; } /* '' */
.icon-file-import:before { content: '\f56f'; } /* '' */
.icon-file-invoice:before { content: '\f570'; } /* '' */
.icon-file-invoice-dollar:before { content: '\f571'; } /* '' */
.icon-file-prescription:before { content: '\f572'; } /* '' */
.icon-file-signature:before { content: '\f573'; } /* '' */
.icon-file-upload:before { content: '\f574'; } /* '' */
.icon-fill:before { content: '\f575'; } /* '' */
.icon-fill-drip:before { content: '\f576'; } /* '' */
.icon-fingerprint:before { content: '\f577'; } /* '' */
.icon-fish:before { content: '\f578'; } /* '' */
.icon-flushed:before { content: '\f579'; } /* '' */
.icon-frown-open:before { content: '\f57a'; } /* '' */
.icon-glass-martini-alt:before { content: '\f57b'; } /* '' */
.icon-globe-africa:before { content: '\f57c'; } /* '' */
.icon-globe-americas:before { content: '\f57d'; } /* '' */
.icon-globe-asia:before { content: '\f57e'; } /* '' */
.icon-grimace:before { content: '\f57f'; } /* '' */
.icon-grin:before { content: '\f580'; } /* '' */
.icon-grin-alt:before { content: '\f581'; } /* '' */
.icon-grin-beam:before { content: '\f582'; } /* '' */
.icon-grin-beam-sweat:before { content: '\f583'; } /* '' */
.icon-grin-hearts:before { content: '\f584'; } /* '' */
.icon-grin-squint:before { content: '\f585'; } /* '' */
.icon-grin-squint-tears:before { content: '\f586'; } /* '' */
.icon-grin-stars:before { content: '\f587'; } /* '' */
.icon-grin-tears:before { content: '\f588'; } /* '' */
.icon-grin-tongue:before { content: '\f589'; } /* '' */
.icon-grin-tongue-squint:before { content: '\f58a'; } /* '' */
.icon-grin-tongue-wink:before { content: '\f58b'; } /* '' */
.icon-grin-wink:before { content: '\f58c'; } /* '' */
.icon-grip-horizontal:before { content: '\f58d'; } /* '' */
.icon-grip-vertical:before { content: '\f58e'; } /* '' */
.icon-headphones-alt:before { content: '\f58f'; } /* '' */
.icon-headset:before { content: '\f590'; } /* '' */
.icon-highlighter:before { content: '\f591'; } /* '' */
.icon-hot-tub:before { content: '\f593'; } /* '' */
.icon-hotel:before { content: '\f594'; } /* '' */
.icon-joint:before { content: '\f595'; } /* '' */
.icon-kiss:before { content: '\f596'; } /* '' */
.icon-kiss-beam:before { content: '\f597'; } /* '' */
.icon-kiss-wink-heart:before { content: '\f598'; } /* '' */
.icon-laugh:before { content: '\f599'; } /* '' */
.icon-laugh-beam:before { content: '\f59a'; } /* '' */
.icon-laugh-squint:before { content: '\f59b'; } /* '' */
.icon-laugh-wink:before { content: '\f59c'; } /* '' */
.icon-luggage-cart:before { content: '\f59d'; } /* '' */
.icon-map-marked:before { content: '\f59f'; } /* '' */
.icon-map-marked-alt:before { content: '\f5a0'; } /* '' */
.icon-marker:before { content: '\f5a1'; } /* '' */
.icon-medal:before { content: '\f5a2'; } /* '' */
.icon-meh-blank:before { content: '\f5a4'; } /* '' */
.icon-meh-rolling-eyes:before { content: '\f5a5'; } /* '' */
.icon-monument:before { content: '\f5a6'; } /* '' */
.icon-mortar-pestle:before { content: '\f5a7'; } /* '' */
.icon-paint-roller:before { content: '\f5aa'; } /* '' */
.icon-passport:before { content: '\f5ab'; } /* '' */
.icon-pen-fancy:before { content: '\f5ac'; } /* '' */
.icon-pen-nib:before { content: '\f5ad'; } /* '' */
.icon-pencil-ruler:before { content: '\f5ae'; } /* '' */
.icon-plane-arrival:before { content: '\f5af'; } /* '' */
.icon-plane-departure:before { content: '\f5b0'; } /* '' */
.icon-prescription:before { content: '\f5b1'; } /* '' */
.icon-sad-cry:before { content: '\f5b3'; } /* '' */
.icon-sad-tear:before { content: '\f5b4'; } /* '' */
.icon-shuttle-van:before { content: '\f5b6'; } /* '' */
.icon-signature:before { content: '\f5b7'; } /* '' */
.icon-smile-beam:before { content: '\f5b8'; } /* '' */
.icon-solar-panel:before { content: '\f5ba'; } /* '' */
.icon-spa:before { content: '\f5bb'; } /* '' */
.icon-splotch:before { content: '\f5bc'; } /* '' */
.icon-spray-can:before { content: '\f5bd'; } /* '' */
.icon-stamp:before { content: '\f5bf'; } /* '' */
.icon-star-half-alt:before { content: '\f5c0'; } /* '' */
.icon-suitcase-rolling:before { content: '\f5c1'; } /* '' */
.icon-surprise:before { content: '\f5c2'; } /* '' */
.icon-swatchbook:before { content: '\f5c3'; } /* '' */
.icon-swimmer:before { content: '\f5c4'; } /* '' */
.icon-swimming-pool:before { content: '\f5c5'; } /* '' */
.icon-tint-slash:before { content: '\f5c7'; } /* '' */
.icon-tired:before { content: '\f5c8'; } /* '' */
.icon-tooth:before { content: '\f5c9'; } /* '' */
.icon-umbrella-beach:before { content: '\f5ca'; } /* '' */
.icon-vector-square:before { content: '\f5cb'; } /* '' */
.icon-weight-hanging:before { content: '\f5cd'; } /* '' */
.icon-wine-glass-alt:before { content: '\f5ce'; } /* '' */
.icon-air-freshener:before { content: '\f5d0'; } /* '' */
.icon-apple-alt:before { content: '\f5d1'; } /* '' */
.icon-atom:before { content: '\f5d2'; } /* '' */
.icon-bone:before { content: '\f5d7'; } /* '' */
.icon-book-reader:before { content: '\f5da'; } /* '' */
.icon-brain:before { content: '\f5dc'; } /* '' */
.icon-car-alt:before { content: '\f5de'; } /* '' */
.icon-car-battery:before { content: '\f5df'; } /* '' */
.icon-car-crash:before { content: '\f5e1'; } /* '' */
.icon-car-side:before { content: '\f5e4'; } /* '' */
.icon-charging-station:before { content: '\f5e7'; } /* '' */
.icon-directions:before { content: '\f5eb'; } /* '' */
.icon-draw-polygon:before { content: '\f5ee'; } /* '' */
.icon-laptop-code:before { content: '\f5fc'; } /* '' */
.icon-layer-group:before { content: '\f5fd'; } /* '' */
.icon-microscope:before { content: '\f610'; } /* '' */
.icon-oil-can:before { content: '\f613'; } /* '' */
.icon-poop:before { content: '\f619'; } /* '' */
.icon-shapes:before { content: '\f61f'; } /* '' */
.icon-star-of-life:before { content: '\f621'; } /* '' */
.icon-teeth:before { content: '\f62e'; } /* '' */
.icon-teeth-open:before { content: '\f62f'; } /* '' */
.icon-theater-masks:before { content: '\f630'; } /* '' */
.icon-traffic-light:before { content: '\f637'; } /* '' */
.icon-truck-monster:before { content: '\f63b'; } /* '' */
.icon-truck-pickup:before { content: '\f63c'; } /* '' */
.icon-ad:before { content: '\f641'; } /* '' */
.icon-ankh:before { content: '\f644'; } /* '' */
.icon-bible:before { content: '\f647'; } /* '' */
.icon-business-time:before { content: '\f64a'; } /* '' */
.icon-city:before { content: '\f64f'; } /* '' */
.icon-comment-dollar:before { content: '\f651'; } /* '' */
.icon-comments-dollar:before { content: '\f653'; } /* '' */
.icon-cross:before { content: '\f654'; } /* '' */
.icon-dharmachakra:before { content: '\f655'; } /* '' */
.icon-envelope-open-text:before { content: '\f658'; } /* '' */
.icon-folder-minus:before { content: '\f65d'; } /* '' */
.icon-folder-plus:before { content: '\f65e'; } /* '' */
.icon-funnel-dollar:before { content: '\f662'; } /* '' */
.icon-gopuram:before { content: '\f664'; } /* '' */
.icon-hamsa:before { content: '\f665'; } /* '' */
.icon-haykal:before { content: '\f666'; } /* '' */
.icon-jedi:before { content: '\f669'; } /* '' */
.icon-journal-whills:before { content: '\f66a'; } /* '' */
.icon-kaaba:before { content: '\f66b'; } /* '' */
.icon-khanda:before { content: '\f66d'; } /* '' */
.icon-landmark:before { content: '\f66f'; } /* '' */
.icon-mail-bulk:before { content: '\f674'; } /* '' */
.icon-menorah:before { content: '\f676'; } /* '' */
.icon-mosque:before { content: '\f678'; } /* '' */
.icon-om:before { content: '\f679'; } /* '' */
.icon-pastafarianism:before { content: '\f67b'; } /* '' */
.icon-peace:before { content: '\f67c'; } /* '' */
.icon-place-of-worship:before { content: '\f67f'; } /* '' */
.icon-poll:before { content: '\f681'; } /* '' */
.icon-poll-h:before { content: '\f682'; } /* '' */
.icon-pray:before { content: '\f683'; } /* '' */
.icon-praying-hands:before { content: '\f684'; } /* '' */
.icon-quran:before { content: '\f687'; } /* '' */
.icon-search-dollar:before { content: '\f688'; } /* '' */
.icon-search-location:before { content: '\f689'; } /* '' */
.icon-socks:before { content: '\f696'; } /* '' */
.icon-square-root-alt:before { content: '\f698'; } /* '' */
.icon-star-and-crescent:before { content: '\f699'; } /* '' */
.icon-star-of-david:before { content: '\f69a'; } /* '' */
.icon-synagogue:before { content: '\f69b'; } /* '' */
.icon-torah:before { content: '\f6a0'; } /* '' */
.icon-torii-gate:before { content: '\f6a1'; } /* '' */
.icon-vihara:before { content: '\f6a7'; } /* '' */
.icon-volume-mute:before { content: '\f6a9'; } /* '' */
.icon-yin-yang:before { content: '\f6ad'; } /* '' */
.icon-blender-phone:before { content: '\f6b6'; } /* '' */
.icon-book-dead:before { content: '\f6b7'; } /* '' */
.icon-campground:before { content: '\f6bb'; } /* '' */
.icon-cat:before { content: '\f6be'; } /* '' */
.icon-chair:before { content: '\f6c0'; } /* '' */
.icon-cloud-moon:before { content: '\f6c3'; } /* '' */
.icon-cloud-sun:before { content: '\f6c4'; } /* '' */
.icon-dice-d20:before { content: '\f6cf'; } /* '' */
.icon-dice-d6:before { content: '\f6d1'; } /* '' */
.icon-dog:before { content: '\f6d3'; } /* '' */
.icon-dragon:before { content: '\f6d5'; } /* '' */
.icon-drumstick-bite:before { content: '\f6d7'; } /* '' */
.icon-dungeon:before { content: '\f6d9'; } /* '' */
.icon-file-csv:before { content: '\f6dd'; } /* '' */
.icon-fist-raised:before { content: '\f6de'; } /* '' */
.icon-ghost:before { content: '\f6e2'; } /* '' */
.icon-hammer:before { content: '\f6e3'; } /* '' */
.icon-hanukiah:before { content: '\f6e6'; } /* '' */
.icon-hat-wizard:before { content: '\f6e8'; } /* '' */
.icon-hiking:before { content: '\f6ec'; } /* '' */
.icon-hippo:before { content: '\f6ed'; } /* '' */
.icon-horse:before { content: '\f6f0'; } /* '' */
.icon-house-damage:before { content: '\f6f1'; } /* '' */
.icon-hryvnia:before { content: '\f6f2'; } /* '' */
.icon-mask:before { content: '\f6fa'; } /* '' */
.icon-mountain:before { content: '\f6fc'; } /* '' */
.icon-network-wired:before { content: '\f6ff'; } /* '' */
.icon-otter:before { content: '\f700'; } /* '' */
.icon-ring:before { content: '\f70b'; } /* '' */
.icon-running:before { content: '\f70c'; } /* '' */
.icon-scroll:before { content: '\f70e'; } /* '' */
.icon-skull-crossbones:before { content: '\f714'; } /* '' */
.icon-slash:before { content: '\f715'; } /* '' */
.icon-spider:before { content: '\f717'; } /* '' */
.icon-toilet-paper:before { content: '\f71e'; } /* '' */
.icon-tractor:before { content: '\f722'; } /* '' */
.icon-user-injured:before { content: '\f728'; } /* '' */
.icon-vr-cardboard:before { content: '\f729'; } /* '' */
.icon-wind:before { content: '\f72e'; } /* '' */
.icon-wine-bottle:before { content: '\f72f'; } /* '' */
.icon-cloud-meatball:before { content: '\f73b'; } /* '' */
.icon-cloud-moon-rain:before { content: '\f73c'; } /* '' */
.icon-cloud-rain:before { content: '\f73d'; } /* '' */
.icon-cloud-showers-heavy:before { content: '\f740'; } /* '' */
.icon-cloud-sun-rain:before { content: '\f743'; } /* '' */
.icon-democrat:before { content: '\f747'; } /* '' */
.icon-flag-usa:before { content: '\f74d'; } /* '' */
.icon-meteor:before { content: '\f753'; } /* '' */
.icon-person-booth:before { content: '\f756'; } /* '' */
.icon-poo-storm:before { content: '\f75a'; } /* '' */
.icon-rainbow:before { content: '\f75b'; } /* '' */
.icon-republican:before { content: '\f75e'; } /* '' */
.icon-smog:before { content: '\f75f'; } /* '' */
.icon-temperature-high:before { content: '\f769'; } /* '' */
.icon-temperature-low:before { content: '\f76b'; } /* '' */
.icon-vote-yea:before { content: '\f772'; } /* '' */
.icon-water:before { content: '\f773'; } /* '' */
.icon-baby:before { content: '\f77c'; } /* '' */
.icon-baby-carriage:before { content: '\f77d'; } /* '' */
.icon-biohazard:before { content: '\f780'; } /* '' */
.icon-blog:before { content: '\f781'; } /* '' */
.icon-calendar-day:before { content: '\f783'; } /* '' */
.icon-calendar-week:before { content: '\f784'; } /* '' */
.icon-candy-cane:before { content: '\f786'; } /* '' */
.icon-carrot:before { content: '\f787'; } /* '' */
.icon-cash-register:before { content: '\f788'; } /* '' */
.icon-compress-arrows-alt:before { content: '\f78c'; } /* '' */
.icon-dumpster:before { content: '\f793'; } /* '' */
.icon-dumpster-fire:before { content: '\f794'; } /* '' */
.icon-ethernet:before { content: '\f796'; } /* '' */
.icon-gifts:before { content: '\f79c'; } /* '' */
.icon-glass-cheers:before { content: '\f79f'; } /* '' */
.icon-glass-whiskey:before { content: '\f7a0'; } /* '' */
.icon-globe-europe:before { content: '\f7a2'; } /* '' */
.icon-grip-lines:before { content: '\f7a4'; } /* '' */
.icon-grip-lines-vertical:before { content: '\f7a5'; } /* '' */
.icon-guitar:before { content: '\f7a6'; } /* '' */
.icon-heart-broken:before { content: '\f7a9'; } /* '' */
.icon-holly-berry:before { content: '\f7aa'; } /* '' */
.icon-horse-head:before { content: '\f7ab'; } /* '' */
.icon-icicles:before { content: '\f7ad'; } /* '' */
.icon-igloo:before { content: '\f7ae'; } /* '' */
.icon-mitten:before { content: '\f7b5'; } /* '' */
.icon-mug-hot:before { content: '\f7b6'; } /* '' */
.icon-radiation:before { content: '\f7b9'; } /* '' */
.icon-radiation-alt:before { content: '\f7ba'; } /* '' */
.icon-restroom:before { content: '\f7bd'; } /* '' */
.icon-satellite:before { content: '\f7bf'; } /* '' */
.icon-satellite-dish:before { content: '\f7c0'; } /* '' */
.icon-sd-card:before { content: '\f7c2'; } /* '' */
.icon-sim-card:before { content: '\f7c4'; } /* '' */
.icon-skating:before { content: '\f7c5'; } /* '' */
.icon-skiing:before { content: '\f7c9'; } /* '' */
.icon-skiing-nordic:before { content: '\f7ca'; } /* '' */
.icon-sleigh:before { content: '\f7cc'; } /* '' */
.icon-sms:before { content: '\f7cd'; } /* '' */
.icon-snowboarding:before { content: '\f7ce'; } /* '' */
.icon-snowman:before { content: '\f7d0'; } /* '' */
.icon-snowplow:before { content: '\f7d2'; } /* '' */
.icon-tenge:before { content: '\f7d7'; } /* '' */
.icon-toilet:before { content: '\f7d8'; } /* '' */
.icon-tools:before { content: '\f7d9'; } /* '' */
.icon-tram:before { content: '\f7da'; } /* '' */
.icon-fire-alt:before { content: '\f7e4'; } /* '' */
.icon-bacon:before { content: '\f7e5'; } /* '' */
.icon-book-medical:before { content: '\f7e6'; } /* '' */
.icon-bread-slice:before { content: '\f7ec'; } /* '' */
.icon-cheese:before { content: '\f7ef'; } /* '' */
.icon-clinic-medical:before { content: '\f7f2'; } /* '' */
.icon-comment-medical:before { content: '\f7f5'; } /* '' */
.icon-crutch:before { content: '\f7f7'; } /* '' */
.icon-egg:before { content: '\f7fb'; } /* '' */
.icon-hamburger:before { content: '\f805'; } /* '' */
.icon-hand-middle-finger:before { content: '\f806'; } /* '' */
.icon-hard-hat:before { content: '\f807'; } /* '' */
.icon-hotdog:before { content: '\f80f'; } /* '' */
.icon-ice-cream:before { content: '\f810'; } /* '' */
.icon-laptop-medical:before { content: '\f812'; } /* '' */
.icon-pager:before { content: '\f815'; } /* '' */
.icon-pepper-hot:before { content: '\f816'; } /* '' */
.icon-pizza-slice:before { content: '\f818'; } /* '' */
.icon-trash-restore:before { content: '\f829'; } /* '' */
.icon-trash-restore-alt:before { content: '\f82a'; } /* '' */
.icon-user-nurse:before { content: '\f82f'; } /* '' */
.icon-wave-square:before { content: '\f83e'; } /* '' */